@font-face {
    font-family: 'nimbus_sans_l';
    src: url('polices/NimbusSanL-Reg-webfont.eot');
    src: url('polices/NimbusSanL-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/NimbusSanL-Reg-webfont.woff2') format('woff2'),
         url('polices/NimbusSanL-Reg-webfont.woff') format('woff'),
         url('polices/NimbusSanL-Reg-webfont.ttf') format('truetype'),
         url('polices/NimbusSanL-Reg-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_l';
    src: url('polices/NimbusSanL-Bol-webfont.eot');
    src: url('polices/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/NimbusSanL-Bol-webfont.woff2') format('woff2'),
         url('polices/NimbusSanL-Bol-webfont.woff') format('woff'),
         url('polices/NimbusSanL-Bol-webfont.ttf') format('truetype'),
         url('polices/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'nimbus_sans_l';
    src: url('polices/NimbusSanL-RegIta-webfont.eot');
    src: url('polices/NimbusSanL-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/NimbusSanL-RegIta-webfont.woff2') format('woff2'),
         url('polices/NimbusSanL-RegIta-webfont.woff') format('woff'),
         url('polices/NimbusSanL-RegIta-webfont.ttf') format('truetype'),
         url('polices/NimbusSanL-RegIta-webfont.svg#nimbus_sans_lregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

* {
	font-family: nimbus_sans_l, Helvetica, sans-serif;
}

.w3-bleu {
  color:#fff!important;
  background-color: #283593!important;
}

.w3-hover-bleu:hover {
  color:#fff!important;
  background-color: #283593!important;
}

.w3-text-bleu {
  color:#283593!important;
}

.w3-text-gris-fonce {
  color:#e0e0e0!important;
}

.w3-bleu-clair {
  color:#212121!important;
  background-color:#e8eaf6!important;
}

.w3-noir {
  color:#fff!important;
  background-color: #212121!important;
}
.w3-gris-fonce {
  color:#212121!important;
  background-color: #e0e0e0!important;
}

.w3-gris-clair {
  color:#212121!important;
  background-color: #eeeeee!important;
}

.w3-blanc {
  color:#212121!important;
  background-color: #fff!important;
}

article h1 {
  color:#283593!important;
  font-size:30px;
}

article h2 {
  font-size:24px;
  color:#757575!important;
}

.w3-text-gris-fonce {
  color:#757575!important;
}

.w3-bordure {
  border-color: #bdbdbd!important;
  border-width: 4px!important;
}

.w3-no-child-border tr {
    border-style: none!important;
}

.w3-search {
  color:#bdbdbd!important;
  background-color: #283593!important;
}

th {
  font-weight:normal!important;
  color:#757575!important;
}

th[onclick] {
  cursor:pointer;
}

td table {
    margin-top : 4px;
}


p {
  text-align: justify;
}

video {
  max-width: 100%;
}

audio  {
  width:100%;
}

object[type="application/pdf"] {
  width:100%;
  height:95vh;
}

a {
  text-decoration:none;
}

.w3-tiny input[type="radio"] {
  width:8px;
  height:8px;
  position:relative;
  top:6px;
}

.w3-gris-clair a, .w3-blanc a {
  color:#283593
}

.w3-gris-clair a:visited {
  color:#938628;
}

.w3-sous-table th, .w3-sous-table td {
    padding:0px;
}

#breadcrumbs a:hover, article a:hover {
  text-decoration:underline;
}


#breadcrumbs a {
  color:#212121!important;
  padding-right: 0px;

}



#breadcrumbs ul {
  list-style:none;
  padding:0;
  margin:0;
}

#breadcrumbs li {
  display:inline;
}

#breadcrumbs li+li:before {
  content: "\25B6";
  padding: 8px;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
