<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FJME - Archives et bibliothèque</title>
<meta name="description" content="">
<link rel="manifest" href="http://srvfjme/consultation/site.webmanifest" />
<link rel="apple-touch-icon" href="http://srvfjme/consultation/icon.png" />
<link rel="shortcut icon" href="http://srvfjme/consultation/favicon.ico">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="http://srvfjme/consultation/css/w3-theme-fjme.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<body class="w3-gris-clair">
  <!--[if lte IE 9]>
   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
 <![endif]-->
  <div class="container w3-bleu">
    <div class="w3-bar">
      <div class="w3-bar-item">
        <div class="w3-bar-item w3-large" style="padding-left:0;">Archives et bibliothèque</div>
      </div>
      <div class="w3-right w3-bar-item">
        <form id="search-simple" style="display:contents" action="http://srvfjme/consultation/search" method="get">
        <button type="submit" class="w3-button w3-left w3-bleu"><i class="fas fa-search"></i></button>
        <div class="w3-bar-item" style="width:500px">
          <input id="search" name="q" type="text" class="w3-input w3-bleu w3-border w3-search" placeholder="Recherche" style="padding:0 4px;" value=""/>
        </div>
        </form>
        <a href="#" class="w3-button w3-bleu"><i class="fas fa-info-circle"></i></a>
        <a href="#" class="w3-button w3-bleu"><i class="fas fa-user"></i></a>
        <img src="http://srvfjme/consultation/img/logo_txt_blanc.png" height="36" class="w3-margin-left"/>
      </div>
    </div>
  </div>

  <div class="container w3-noir">
    <div class="w3-bar">
      <a class="w3-button w3-bar-item w3-noir" href="http://srvfjme/consultation/listfonds">Liste des fonds</a>
    </div>
  </div>

      <article class="w3-gris-clair">
    <div class="w3-row">
        <section class="w3-container w3-center">
            <h1>Oups !</h1>
            <p style="text-align:center;" class="w3-padding-32 w3-large">Il n'y a rien à cette adresse.</p>
            <img class="w3-padding-16" src="http://srvfjme/consultation/img/oups.jpg"/>
        </section>
    </div>
</article>

  </body>
</html>
