<div class="container w3-gris-fonce">
  <div class="w3-bar">
    <div id="breadcrumbs" class="w3-bar-item">
      <ul>
          <li><a href="<?=$base_url.$router->pathFor('ud-detail', $miette_fonds_bread['args_url']);?>"><?php echo $ud->fonds[0]['titre'];?></a></li>
        <?php foreach($ud->parents as $parent): ?>
            <li class="w3-small"><a href="<?=$base_url.$router->pathFor('ud-detail', ['id' => $parent['id']]);?>"><?php echo $parent['titre'];?></a></li>
        <?php endforeach; ?>
      </ul>
    </div>
    <a href="listfonds" class="w3-bar-item w3-button w3-gris-fonce w3-right"><i class="fas fa-times"></i></a>
    <div class="w3-bar-item w3-right">
      <a href="<?=$base_url.$router->pathFor('ud-detail', $btn_bread['args_url']);?>" class="w3-bar-item w3-button w3-round-xxlarge w3-small w3-bleu" style="padding:2px 25px;width:190px">
        <?php echo $btn_bread['label'] ?>
      </a>
    </div>
  </div>
</div>
