<div class="w3-row-padding w3-bleu-clair w3-hide w3-show"  id="results">

  <div class="w3-col w3-half">
    <p>
      <?php if ($result->response->numFound == 0) echo "La recherche n'a donné aucun résultat";
      else echo "Résultat de la recherche : ".$result->response->numFound." résultats";
      ?>
    </p>
  </div>

  <div class="w3-col w3-quarter">
    <p>
      <?php echo "Mots-clefs : $search" ?? '';
      if(isset($filtres['vedette'])) echo " ; Fonds : ".$filtres['vedette'];
      if(isset($filtres['sourceType'])) echo " ; Type de document : ".$filtres['sourceType']; ?>
    </p>
  </div>

      <div class="w3-col w3-quarter">
        <div class="w3-padding">
          <a href="/listfonds" class="w3-bar-item w3-button w3-bleu-clair w3-right"><i class="fas fa-times"></i></a>
          <button onclick="switchFacettes()" class="w3-bar-item w3-button w3-round-xxlarge w3-small w3-bleu w3-right w3-margin-right" >
            <strong>Affiner la recherche</strong>
          </button>
        </div>


      </div>

    </div>
    <div class="w3-row-padding w3-bleu-clair w3-hide" id="facettes" style="max-height:25vh;overflow:auto;">
      <form id="search-facettes" style="display:contents" action="<?php echo $base_url;?>/search" method="get">
      <input type="hidden" name="q" value="<?php echo $search ?? ''; ?>"/>
      <input id="vue_mosaique" type="hidden" name="vue_mosaique" value="<?php echo $vue_mosaique ?? '0'; ?>"/>
      <div class="w3-col w3-quarter">
        <p>Affiner la recherche</p>
      </div>
      <div class="w3-col w3-quarter">
        <p>Fonds (<?php echo count((array)$result->facet_counts->facet_fields->vedette) ?>)</p>
        <div class="w3-padding">
          <p class="w3-tiny" style="margin:0">
          <input type="radio" class="w3-radio" name="vedette" value="" />
          <label>tous</label>
          </p>
        <?php foreach ($result->facet_counts->facet_fields->vedette as $nom => $nb): ?>
        <p class="w3-tiny" style="margin:0">
        <input type="radio" class="w3-radio" name="vedette" value="<?php echo $nom; ?>" <?php if(isset($filtres['vedette'])) echo 'checked'; ?>/>
  			<label><?php echo $nom.' : '.$nb; ?></label>
        </p>
  		  <?php endforeach; ?>
          </div>
      </div>
      <div class="w3-col w3-quarter">
        <p>Types (<?php echo count((array)$result->facet_counts->facet_fields->sourceType) ?>)</p>
        <div class="w3-padding">
        <p class="w3-tiny" style="margin:0">
        <input type="radio" class="w3-radio" name="sourceType" value="" />
  			<label>tous</label>
        </p>
        <?php foreach ($result->facet_counts->facet_fields->sourceType as $nom => $nb): ?>
        <p class="w3-tiny" style="margin:0">
        <input type="radio" class="w3-radio" name="sourceType" value="<?php echo $nom; ?>" <?php if(isset($filtres['sourceType'])) echo 'checked'; ?>/>
  			<label><?php echo $nom.' : '.$nb; ?></label>
        </p>
  		  <?php endforeach; ?>
          </div>
      </div>
      <div class="w3-col w3-quarter">
        <div class="w3-padding">
            <button onclick="switchFacettes()" class="w3-bar-item w3-button w3-bleu-clair w3-right"><i class="fas fa-times"></i></button>
            <button type="submit" form="search-facettes" class="w3-bar-item w3-button w3-round-xxlarge w3-small w3-bleu w3-right w3-margin-right">
              <strong>Valider</strong>
            </button>
        </div>
      </div>
      </form>
    </div>
