<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php echo $titre_head ?? 'FJME - Archives et bibliothèque';?></title>
<meta name="description" content="">
<link rel="manifest" href="<?php echo $base_url;?>/site.webmanifest" />
<link rel="apple-touch-icon" href="<?php echo $base_url;?>/icon.png" />
<link rel="shortcut icon" href="<?php echo $base_url;?>/favicon.ico">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="<?php echo $base_url;?>/css/w3-theme-fjme.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<body class="w3-gris-clair">
  <!--[if lte IE 9]>
   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
 <![endif]-->
 <div class="w3-bleu w3-container">
   <div class="w3-bar w3-bleu" style="margin-top:8px;">
     <a href="<?=$base_url?>" class="w3-bar-item  w3-large w3-bleu" style="padding-left:0;">Archives et bibliothèque</a>
     <img src="<?php echo $base_url.'img/logo_txt_blanc.png';?>" height="36px" class="w3-right"/>
     <a href="#" class="w3-bar-item w3-right w3-button w3-bleu" style="margin-right:60px;"><i class="fas fa-user"></i></a>
     <a href="#" class="w3-bar-item w3-right w3-button w3-bleu"><i class="fas fa-info-circle"></i></a>
   </div>
   <div class="w3-center">
     <div class="w3-bar w3-bleu w3-center" style="padding-top:20vh;padding-bottom:36px">
        <form id="search-simple" style="display:contents" action="<?php echo $base_url;?>/search" method="get">
       <button type="submit" class="w3-button w3-bleu w3-bar-item"><i class="fas fa-search"></i></button>
       <input id="search" name="q" type="text" class="w3-input w3-bleu w3-border w3-bar-item" style="width:75vw;" placeholder="Rechercher dans les fonds"/>
   </form>
     </div>
   </div>
 </div>
 <div class="w3-row" style="border-top:2px #fff solid;">
    <a href="<?php echo $base_url.'/listfonds'; ?>" class="w3-container w3-noir w3-col w3-hover-opacity m4" style="height:30vw;border-right:2px #fff solid;">
        <p class="w3-large">Consulter<br/>la liste des fonds</p>
    </a>
     <a href="<?php echo $base_url.'/archives/JeanMonnet'; ?>" class="w3-gris-fonce w3-col w3-hover-opacity m4" style="height:30vw;overflow:hidden;border-right:2px #fff solid;">
         <div class="w3-container" style="height:33%">
             <p class="w3-small" style="margin-bottom:0">Accès rapide</p>
             <h4 style="margin-top:0" class="w3-text-bleu">Fonds Jean Monnet</h4>
         </div>
         <img class="" src="<?=$base_url?>img/monnet.jpg" style="width:100%"/>
     </a>
     <a href="<?php echo $base_url.'/archives/JacquesDelors'; ?>" class="w3-gris-fonce w3-col m4 w3-hover-opacity" style="height:30vw;overflow:hidden;">
         <div class="w3-container" style="height:33%">
             <p class="w3-small" style="margin-bottom:0">Accès rapide</p>
             <h4 style="margin-top:0" class="w3-text-bleu">Fonds Jacques Delors</h4>
         </div>
         <img class="" src="<?=$base_url?>/img/delors.jpg" style="width:100%"/>
     </a>
 </div>
 <div class="w3-row" style="border-top:2px #fff solid;">
     <a href="<?php echo $base_url.'/archives/RobertSchuman'; ?>" class="w3-gris-fonce w3-col m4 w3-hover-opacity" style="height:30vw;overflow:hidden;border-right:2px #fff solid;">
         <div class="w3-container" style="height:33%">
             <p class="w3-small" style="margin-bottom:0">Accès rapide</p>
             <h4 style="margin-top:0" class="w3-text-bleu">Fonds Robert Schuman</h4>
         </div>
         <img class="" src="<?=$base_url?>/img/schuman.jpg" style="width:100%"/>
     </a>
     <a href="<?php echo $base_url.'/archives/InterviewsFilmees'; ?>" class="w3-gris-fonce w3-col m4 w3-hover-opacity" style="height:30vw;overflow:hidden;border-right:2px #fff solid;">
         <div class="w3-container" style="height:33%">
             <p class="w3-small" style="margin-bottom:0">Accès rapide</p>
             <h4 style="margin-top:0" class="w3-text-bleu">Interviews filmées</h4>
         </div>
         <img class="" src="<?=$base_url?>img/interviews.png" style="width:100%"/>
     </a>
     <a href="<?php echo $base_url.'/search?q=fonds:&quot;Collection+des+Cahiers+rouges&quot;'; ?>" class="w3-gris-fonce w3-col m4 w3-hover-opacity" style="height:30vw;overflow:hidden;">
         <div class="w3-container" style="height:33%">
             <p class="w3-small" style="margin-bottom:0">Recherche rapide</p>
             <h4 style="margin-top:0" class="w3-text-bleu">Collection des Cahiers rouges</h4>
         </div>
         <img class="" src="<?=$base_url?>/img/cahiers.jpg" style="width:100%"/>
     </a>
 </div>

 <div class="w3-bleu w3-container" style="border-top:2px white solid">
   <div class="w3-bar w3-bleu" style="margin-top:8px;">
     
     <img src="<?php echo $base_url.'img/logo_txt_blanc.png';?>" height="36px" class="w3-right"/>

   </div>
 </div>

</body>
</html>
