<article id="info_ud" class="<?php echo $niveau_piece ? 'w3-blanc' : 'w3-gris-clair'; ?>">
  <div class="w3-row">
    <div class="w3-col w3-padding-32" style="width:30%;padding-right:48px;">

      <table class="w3-table w3-bordered">
          <tr>
  			<th>Dates</th>
  			<td><?php echo implode('<br/>',$ud->dates) ?? '[s.d.]'; ?></td>
  		  </tr>
          <tr>
  			<th>Cotes</th>
  			<td>
  				<?php

                foreach ($ud->cotes as &$cote) {
                    $cote = implode(' : ', (array)$cote);
                }
                echo implode('<br/>',$ud->cotes);
                ?>
  			</td>
  		    </tr>
            <?php if (isset($ud->loc)): ?>
            <tr>
    			<th>Localisation</th>
    			<td><?php echo implode('<br/>',$ud->loc);?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->impmat)): ?>
            <tr>
    			<th>Importance matérielle</th>
    			<td><?php echo implode('<br/>',$ud->impmat);?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->langues)): ?>
            <tr>
    			<th>Langues des documents</th>
    			<td><?php echo implode('<br/>',$ud->langues);?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->doctype)): ?>
            <tr>
    			<th>Type de document</th>
    			<td><?php echo $ud->doctype;?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->dimension_mm)): ?>
            <tr>
    			<th>Taille [mm]</th>
    			<td><?php echo $ud->dimension_mm;?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->duree_min)): ?>
            <tr>
    			<th>Durée [min]</th>
    			<td><?php echo $ud->duree_min;?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->copyright)): ?>
            <tr>
    			<th>Copyright</th>
    			<td><?php echo $ud->copyright;?></td>
    		</tr>
            <?php endif; ?>
            <?php if (isset($ud->acces)): ?>
            <tr>
    			<th>Restriction d'accès</th>
    			<td><?php echo $ud->acces;?></td>
    		</tr>
            <?php endif; ?>
            <?php if ($ud->inventaire_pdf || $ud->inventaire_xml): ?>
                <tr>
        			<th>Inventaires</th>
                <td>
                <?php if(isset($ud->inventaire_xml)): ?>
        			   <a href="<?php echo "$base_url/doc/inventaires/ead/".$ud->inventaire_xml;?>">XML/EAD3</a>
               <?php endif; ?>
               <?php if(isset($ud->inventaire_pdf)): ?>
        				<br/>
        				<a href="<?php echo "$base_url/doc/inventaires/pdf/".$ud->inventaire_pdf;?>">PDF</a>
              <?php endif; ?>
        			</td>
        		</tr>
            <?php endif; ?>


        <?php if(isset($ud->docs_phys)): ?>
          <?php foreach ($ud->docs_phys as $doc): ?>

                 <tr>
                   <th><?php echo $doc->format; ?></th>
                   <td style="padding-top:0;">
                       <table class="w3-table w3-no-child-border">
                           <tr>
                               <th>Type</th>
                               <td><?php echo $doc->type; ?></td>
                           </tr>
                           <tr>
                             <th>Importance matérielle</th>
                             <td><?php echo $doc->qte; ?> <?php echo $doc->support; ?></td>
                           </tr>
                           <tr>
                             <th>Localisation</th>
                             <td><?php echo "$doc->loc.$doc->cote"; ?></td>
                           </tr>
                           <?php if(isset($doc->notes)): ?>
                             <tr>
                               <th>Remarques</th>
                               <td><?php echo $doc->notes; ?></td>
                             </tr>
                           <?php endif; ?>
                         </table>
                     </td>
                 </tr>
                 <?php endforeach; ?>
          <?php endif; ?>

        <?php if(isset($ud->docs_num)): ?>
            <?php foreach ($ud->docs_num as $doc): ?>

                <tr>
                  <th> <?php echo $doc->mime ?></th>
                  <td style="padding-top:0;">
                <table class="w3-table w3-no-child-border w3-sous-table">
                <?php if(isset($doc->video_codec)||isset($doc->audio_codec)): ?>
                <tr>
                  <th>Codec</th>
                  <td>
                    <?php echo $doc->video_codec ?? ''; ?>
                    <?php echo $doc->audio_codec ?? ''; ?>
                  </td>
                </tr>
                <?php endif; ?>
                <?php if(isset($doc->taille_px)): ?>
                <tr>
                  <th>Taille</th>
                  <td>
                    <?php echo "$doc->taille_px px"; ?>
                  </td>
                </tr>
                <?php endif; ?>
                <?php if(isset($doc->taille_mb)): ?>
                <tr>
                  <th>Poids</th>
                  <td>
                    <?php echo strtok($doc->taille_mb, '.')." Mo"; ?>
                  </td>
                </tr>
                <?php endif; ?>
                <?php if(isset($doc->resolution)): ?>
                <tr>
                  <th>Résolution</th>
                  <td>
                    <?php echo "$doc->resolution dpi"; ?>
                  </td>
                </tr>
                <?php endif; ?>
                <?php if(isset($doc->notes)): ?>
                  <tr>
                    <th>Remarques</th>
                    <td><?php echo $doc->notes; ?></td>
                  </tr>
                <?php endif; ?>
              </table>
  					<?php endforeach; ?>
                </td>
            </tr>
  			<?php endif; ?>
            </table>
      </div>
<!-- COLONNE DROITE -->
      <div class="w3-rest" style="padding-left:48px;padding-right:48px;">
        <!-- Infos inventaire -->
        <?php if($niveau_piece): ?>
        <section class="w3-container">
			<h1><?php echo $ud->titre; ?></h1>
		</section>
        <?php endif; ?>
        <?php if(isset($ud->bioghist)): ?>
            <section class="w3-container">
    			<h2>Notice historique</h2>
                <?php echo $parsedown->text($ud->bioghist); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->scopecontent)): ?>
            <section class="w3-container">
    			<h2>Contenu</h2>
                <?php echo $parsedown->text($ud->scopecontent); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->separatedmaterial) or isset($ud->relatedmaterial)): ?>
            <section class="w3-container">
    			<h2>Sources complémentaires</h2>
                <?php echo $parsedown->text($ud->separatedmaterial);
                 echo $parsedown->text($ud->relatedmaterial); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->otherfindaid)): ?>
            <section class="w3-container">
    			<h2>Autres instruments de recherche</h2>
                <?php echo $parsedown->text($ud->otherfindaid); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->custodhist)): ?>
            <section class="w3-container">
    			<h2>Historique de la conservation</h2>
                <?php echo $parsedown->text($ud->custodhist); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->acqinfo)): ?>
            <section class="w3-container">
    			<h2>Acquisition</h2>
                <?php echo $parsedown->text($ud->acqinfo); ?>
    		</section>
        <?php endif; ?>
        <?php if(isset($ud->processinfo)): ?>
            <section class="w3-container">
    			<h2>Traitement</h2>
                <?php echo $parsedown->text($ud->processinfo); ?>
    		</section>
        <?php endif; ?>
        <!-- Affichage pièces numériques -->
        <?php if($niveau_piece): ?>
        <?php if(isset($ud->docs_num)): ?>
            <?php if($ud->docs_num_acces < $niv_acces): ?>
                <?php if($ud->doctype == 'Vidéo'): ?>
                    <section class="w3-center w3-margin-top w3-section">
                        <?php foreach ($ud->docs_num as $doc): ?>
                            <?php if ($doc->localisation == 'diffusion' && in_array($doc->extension, ["mp4", "webm"])):?>
                                <video controls>
                                    <source src="<?php echo str_replace('/mnt/nas_archives/pieces/diffusion', "$base_url/doc/pieces", $doc->chemin); ?>" type="<?php echo $doc->mime; ?>"/>
                                </video>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </section>
                <?php elseif($ud->doctype == 'Audio'): ?>
                    <section class="w3-center w3-margin-top w3-section">
                        <?php foreach ($ud->docs_num as $doc): ?>
                            <?php if ($doc->localisation == 'diffusion' && $doc->extension == 'mp3'): ?>
                                <audio controls>
                                    <source src="<?php echo str_replace('/mnt/nas_archives/pieces/diffusion', "$base_url/doc/pieces", $doc->chemin); ?>" type="<?php echo $doc->mime; ?>"/>
                                </audio>
                            <?php endif; ?>
                        <?php endforeach; ?>
        			</section>
                <?php elseif ($ud->doctype == 'Archive' || !isset($ud->doctype)): ?>
          			<section class="w3-center w3-margin-top w3-section">
                        <?php foreach ($ud->docs_num as $doc): ?>
                            <?php if ($doc->localisation == 'diffusion' && $doc->extension == 'pdf'): ?>
                                <object data="<?php echo str_replace('/mnt/nas_archives/pieces/diffusion', "$base_url/doc/pieces", $doc->chemin); ?>" type="<?php echo $doc->mime; ?>" typemustmatch>
                                    <p>Votre navigateur ne supporte pas l'affichage de PDF, mais vous pouvez <a href="<?php echo str_replace('/mnt/nas_archives/pieces/diffusion', "$base_url/doc/pieces", $doc->chemin); ?>">télécharger le fichier PDF.</a></p>
          					    </object>
                            <?php endif; ?>
                        <?php endforeach; ?>
          			</section>
                <?php elseif ($ud->doctype == 'Photographie'): ?>
                    <section class="w3-center w3-margin-top w3-section w3-content w3-display-container" style="max-width:800px;">
                        <?php foreach ($ud->docs_num as $doc): ?>
                            <?php if ($doc->localisation == 'diffusion' && $doc->extension == 'jpg'): ?>
            					<img class="slideshow" src="<?php echo str_replace('/mnt/nas_archives/pieces/diffusion', "$base_url/doc/pieces", $doc->chemin); ?>"/>
                                <?php $count++; ?>
                            <?php endif; ?>
            			<?php endforeach; ?>
                        <?php if($count > 1): ?>
                            <button class="w3-button w3-bleu w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-bleu w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        <?php endif; ?>
                    </section>
                <?php endif; ?>
            <?php else: ?>
                <section class="w3-center w3-margin-top w3-section">
                    <p class="w3-center">Ce document a été numérisé mais nécessite des droits particuliers pour y accéder.
                    <br/>Si vous désirez le consulter, merci de prendre contact avec un archiviste.</p>
                </section>
            <?php endif; ?>
        <?php else: ?>
            <section class="w3-center w3-margin-top w3-section">
                <p class="w3-center">Ce document n'a pas encore été numérisé. Si vous désirez le consulter, merci de prendre contact avec un archiviste.</p>
            </section>

        <?php endif;?>
        <?php endif;?>
        </div>
      </div>
      </article>
