<?php
function ligne_table($data,$etiquette) {
  $html = "<tr><th>$etiquette</th><td>$data</td></tr>";
  return $html;
}
?>
<article id="info_ud" class="w3-blanc">
  <div class="w3-row">
    <div class="w3-col w3-padding-32" style="width:30%;padding-right:48px;">
        <?php foreach($livre->exemplaires as $exemplaire): ?>
        <table class="w3-table w3-bordered">
          <tr>
  			<th>Fonds</th>
  			<td><?php echo '<a href="'.$base_url.'/search?q=fonds:'.urlencode('"'.$exemplaire->fonds.'"').'">'.$exemplaire->fonds.'</a>'; ?></td>
  		  </tr>
          <?php if (isset($exemplaire->numeros)) echo ligne_table($exemplaire->numeros,'Numéros'); ?>
          <?php if (isset($exemplaire->cote)) echo ligne_table($exemplaire->cote,'Cote'); ?>
          <?php if (isset($exemplaire->nb)) echo ligne_table($exemplaire->nb,"Nb. d'exemplaires"); ?>
          <?php if (isset($exemplaire->nb_vol)) echo ligne_table($exemplaire->nb_vol,"Nb. volumes"); ?>
          <?php if (isset($exemplaire->loc)) echo ligne_table($exemplaire->loc,"Localisation"); ?>
          <?php if(isset($exemplaire->dedicace) && $exemplaire->dedicace == 'O') echo "<tr><th/><td>Exemplaire dédicacé</td></tr>"; ?>
        </table>
    <?php endforeach;?>
      </div>
<!-- COLONNE DROITE -->
      <div class="w3-rest" style="padding-left:48px;padding-right:48px;">
        <section class="w3-container">
			<h1><?php echo $livre->titre; ?></h1>
		</section>
        <table class="w3-table w3-bordered">
          <tr>
            <th>Date</th>
            <td><?php echo $livre->date ?? '[s.d.]'; ?></td>
          </tr>
          <tr>
            <th>Auteurs</th>
            <td>
            <?php foreach ($livre->auteurs as $auteur): ?>
              <div><a href="<?php echo $base_url.'/search?q='.urlencode($auteur);?>"><?php echo $auteur; ?></a></div>
             <?php endforeach; ?>
            </td>
          </tr>
          <tr>
            <th>Editeur</th>
            <td>
            <?php foreach ($livre->editeurs as $editeur): ?>
              <div><a href="<?php echo $base_url.'/search?q='.urlencode($editeur);?>"><?php echo $editeur; ?></a></div>
             <?php endforeach; ?>
            </td>
          </tr>
          <?php if(isset($livre->collection)): ?>
            <tr>
              <th>Collection</th>
              <td>
                <a href="<?php echo $base_url.'/search?q='.urlencode('"'.$livre->collection->titre_col.'"');?>"><?php echo $livre->collection->titre_col; ?></a>
                <?php if(isset($livre->collection->numero)) echo ', '.$livre->collection->numero; ?>
              </td>
            </tr>
          <?php endif; ?>
          <?php if(isset($livre->pages)) echo ligne_table($livre->pages,'Pages'); ?>

          <?php foreach ($livre->langues as $key => $langue) {$livre->langues[$key] = Locale::getDisplayLanguage($langue,'fr'); } ?>
          <?php echo ligne_table(implode(', ',$livre->langues),'Langue'); ?>
          <?php echo ligne_table($livre->sourceType,'Type'); ?>
          <?php if (isset($livre->tag)) echo ligne_table(implode(', ',$livre->tag),'Etiquette'); ?>

          <?php if(isset($livre->precede_par)) {
            foreach ($livre->precede_par as $doc) {
              $liste[] = '<a href="'.$base_url.'biblio/ouvrage/id/'.$doc->id.'">'.$doc->titre.'</a>';
            }
            echo ligne_table(implode(' <br/> ',$liste),'Précédé par');
          }?>
          <?php if(isset($livre->suivi_par)) {
            foreach ($livre->suivi_par as $doc) {
              $liste[] = '<a href="'.$base_url.'biblio/ouvrage/id/'.$doc->id.'">'.$doc->titre.'</a>';
            }
            echo ligne_table(implode(' <br/> ',$liste),'Précédé par');
          }?>
          <?php if (isset($livre->isbn)) echo ligne_table($livre->isbn,'ISBN'); ?>
          <?php if (isset($livre->issn)) echo ligne_table($livre->issn,'ISSN'); ?>
          <?php if(isset($livre->scan)) echo '<tr><th>Fichier</th><td><a href="'.$base_url.'/doc/pieces/image/'.$livre->scan.'">PDF</a></td>'; ?>
          </table>

      </div>
  </div>
      </article>
