<article class="w3-gris-clair">
  <table class="w3-table w3-bordered" id="infofonds">
    <thead>
      <tr>
        <th onclick="sortTable(0,this)"><i class="fas fa-sort"></i> Cotes</th>
        <th onclick="sortTable(1,this)"><i class="fas fa-sort"></i> Intitulés</th>
        <th onclick="sortTable(2,this)"><i class="fas fa-sort"></i> Dates</th>
        <th>
          <div style="display:flex">
            <i class="fas fa-search" style="padding-top:4px"></i>
            <input class="w3-input w3-gris-fonce w3-border w3-margin-left" style="padding:0 4px;" type="text" id="filtre-input" onkeyup="filtreUds()" placeholder="Filtrer la liste..">
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($listfonds as $fonds): ?>
        <tr class="sort">
          <td><?php echo $fonds['cote']; ?></td>
          <td><a href="<?php echo "archives/".$fonds['radical']; ?>"><?php echo $fonds['titre']; ?></a></td>
          <td><?php echo $fonds['dates'][0]; ?></td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
</article>
