<article id="uds_enfants" class="w3-gris-clair">
        <table class="w3-table w3-bordered" id="infofonds">
            <thead>
            <tr>
                <th onclick="sortTable(0,this)"><i class="fas fa-sort"></i> Cotes</th>
                <th onclick="sortTable(1,this)"><i class="fas fa-sort"></i> Intitulés</th>
                <th onclick="sortTable(2,this)"><i class="fas fa-sort"></i> Dates</th>
                <th>Pièces</th>
                <th style="min-width:300px;">
          <div style="display:flex">
            <i class="fas fa-search" style="padding-top:4px"></i>
            <input class="w3-input w3-gris-clair w3-border w3-margin-left" style="padding:0 4px;" type="text" id="filtre-input" onkeyup="filtreUds()" placeholder="Filtrer la liste.."/>
          </div>
        </th>
            </tr>
        </thead>
        <tbody>
            <tr class="w3-small w3-text-gris-fonce">
                <td><?php echo $ud->cotes[0]->val; ?></td>
                <td>Sous-unités : <?php echo count($ud->enfants); ?></td>
                <td><?php echo implode(', ', $ud->dates); ?></td>
                <td><?php echo $ud->impmat[0]; ?></td>
            </tr>
            <?php foreach ($ud->enfants as $kid): ?>
                <tr class="sort">
        			<td>
        					<?php echo $kid['cote']; ?>
        			</td>
        			<td>
        				<a href="<?php echo $base_url.'/archives/'.$kid['id']; ?>"><?php echo $kid['titre']; ?></a>
        			</td>
        			<td><?php echo implode(', ', $kid['dates']); ?></td>
        			<td><?php echo $kid['impmat']; ?></td>
        		</tr>
            <?php endforeach; ?>
        </tbody>
        </table>
</article>
