<article class="w3-gris-clair">
    <div class="w3-row">
        <section class="w3-container w3-center">
            <h1>Oups !</h1>
            <p style="text-align:center;" class="w3-padding-32 w3-large">Cet accès est erroné ou a expiré. Pour de plus amples informations, contactez un archiviste.</p>
            <img class="w3-padding-16" src="<?php echo $base_url;?>/img/oups.jpg"/>
        </section>
    </div>
</article>
