<article class="w3-gris-clair">
    <div class="w3-row">
        <section class="w3-container" style="margin-left:100px;">
            <h1>Bienvenue <?php echo $user->nom; ?> !</h1>
            <?php echo $texte[$niv_acces]; ?>
            <p>Cet accès est valabale jusqu'au : <strong><?php echo date('d.m.Y',intval((string) $user->expiration)/1000); ?></strong>.</p>
            <p>Gardez précieusement le lien qui vous a été envoyé et qui vous a mené ici. Il vous sera nécessaire si vous désirez vous connecter depuis un autre appareil.</p>
        </section>
        <section class="w3-container w3-center">
			<p class="w3-large w3-center"><strong><a href="<?php echo $base_url; ?>">Accéder à la page d'acceuil</a></strong></p>
        </section>
    </div>
</article>
