<div class="container w3-gris-clair">
    <div class="w3-bar">
        <div class="w3-bar-item">
            <?php if($niveau_piece): ?>
                <?php echo 'Pièce'; ?>
            <?php else: ?>
                <?php echo 'Dossier : '.$ud->titre; ?>
            <?php endif; ?>
        </div>
        <a href="<?php echo end($ud->parents)['id']; ?>" class="w3-bar-item w3-button w3-right"><i class="fas fa-times"></i></a>
        <?php if($niveau_piece): ?>
        <div class="w3-bar-item w3-right">
            <a class="w3-button w3-circle w3-tiny w3-bleu" style="padding:2px 8px" href="<?php echo $ud->ud_suiv ?? '#'; ?>">
                <i class="fas fa-caret-right"></i>
            </a>
        </div>
        <div class="w3-bar-item w3-right">
            <?php echo $ud->sororite_rang.'/'.$ud->sororite_nb; ?>
        </div>
        <div class="w3-bar-item w3-right">
            <a class="w3-button w3-round-xxlarge w3-tiny w3-bleu" style="padding:2px 8px" href="<?php echo $ud->ud_prec ?? '#'; ?>">
                <i class="fas fa-caret-left"></i>
            </a>
        </div>
        <?php else: ?>
        <div class="w3-bar-item w3-right">
            <a href="<?=$base_url.$router->pathFor('ud-detail', $btn_navud['args_url']);?>" class="w3-bar-item w3-button w3-round-xxlarge w3-small w3-bleu" style="padding:2px 25px;width:190px">
              <?php echo $btn_navud['label'] ?>
            </a>
        </div>
        <?php endif; ?>
    </div>
</div>
