<section class="page-section w3-center w3-bleu-clair">
  <div class="w3-bar">
    <!-- If the current page is more than 1, show the First and Previous links -->
<?php if($page > 1) : ?>

      <button class="w3-button" type="submit" form="search-facettes" name="page" value='1'>
        <i class="fa fa-fast-backward" aria-hidden="true"></i>
      </button>

    <button class="w3-button" type="submit" form="search-facettes" name="page" value='<?php echo ($page - 1); ?>'>
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </button>
<?php endif; ?>

<?php
    //setup starting point

    //$max is equal to number of links shown
    $max = 7;
    if($page < $max)
        $sp = 1;
    elseif($page >= ($nb_pages - floor($max / 2)) )
        $sp = $nb_pages - $max + 1;
    elseif($page >= $max)
        $sp = $page  - floor($max/2);
?>

<!-- If the current page >= $max then show link to 1st page -->
<?php if($page >= $max) : ?>

    <button class="w3-button" type="submit" form="search-facettes" name="page" value='1'>1</button>

  <span>..</span>
<?php endif; ?>

<!-- Loop though max number of pages shown and show links either side equal to $max / 2 -->
<?php for($i = $sp; $i <= ($sp + $max -1);$i++) : ?>
    <?php
        if($i > $nb_pages)
            continue;
    ?>

    <?php if($page == $i) : ?>
        <button class="w3-button" disabled><?php echo $i; ?></button>
    <?php else : ?>

        <button class="w3-button" type="submit" form="search-facettes" name="page" value='<?php echo $i; ?>'><?php echo $i; ?></button>



    <?php endif; ?>
<?php endfor; ?>


<!-- If the current page is less than say the last page minus $max pages divided by 2-->
<?php if($page < ($nb_pages - floor($max / 2))) : ?>
    <span>..</span>
    <button class="w3-button" type="submit" form="search-facettes" name="page" value='<?php echo $nb_pages; ?>'><?php echo $nb_pages; ?></button>

<?php endif; ?>

<!-- Show last two pages if we're not near them -->
<?php if($page < $nb_pages) : ?>
  <button class="w3-button" type="submit" form="search-facettes" name="page" value='<?php echo ($page + 1); ?>'>

  <i class="fa fa-step-forward" aria-hidden="true"></i></button>
      <button class="w3-button" type="submit" form="search-facettes" name="page" value='<?php echo $nb_pages; ?>'>
      <i class="fa fa-fast-forward" aria-hidden="true"></i></button>

<?php endif; ?>
</div>
</section>
