<article class="w3-gris-clair">
  <div class="w3-bar w3-gris-clair">

    <div class="w3-right w3-bar-item">
      <button type="button" class="w3-button w3-round-xxlarge w3-tiny w3-bleu" style="padding:2px 6px;">
        <i class="fas fa-th-large"></i>
      </button>
   
    
      <button type="button" onclick="switchandsubmit()" class="w3-button w3-round-xxlarge w3-tiny w3-gris-fonce" style="padding:2px 6px">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>

  <div class="w3-row">    
      <?php foreach ($result->response->docs as $doc): ?>        
          <?php if($doc->sourceType[0] == 'Photographie'): ?><!-- FIXME voir si on ne met pas dans la table des doc_num, id des Cahier rouge dans la colonne cote pour éviter de tester aussi sur la cote la liste des docnum dispo -->
            <a href="<?php echo "archives/".$doc->id;?>" class="w3-quarter w3-border w3-gris-clair w3-container" style="height:25vw;">
              <div style="height: 100%;display: flex;align-items: center;justify-content: center;">                
                <img class="w3-hover-opacity" style="max-width:80%;max-height:80%;" src="<?php echo $base_url."/doc/pieces/image/".substr($doc->id, 0, strpos($doc->id, '-')).'/'.$doc->id.".jpg"; ?>"/>              
              </div>           
            </a>
      <?php endif; ?>
      <?php endforeach; ?>
   
  </div>
</article>
