<article class="w3-gris-clair">
  <table class="w3-table w3-border w3-bordered" id="infofonds">
    <thead>
      <tr>
        <th style="width:50%" onclick="sortTable(0)">Intitulés</th>
        <th style="width:10%" onclick="sortTable(1)">Types</th>
        <th style="width:15%" onclick="sortTable(4)">Dates</th>
        <th style="width:25%" onclick="sortTable(3)">Fonds
            <div class="w3-right">
               <button type="button"  class="w3-button w3-round-xxlarge w3-tiny w3-bleu" style="padding:2px 6px">
                <i class="fas fa-bars"></i>
              </button>
            </div>       
            <div class="w3-right">
              <button type="button" onclick="switchandsubmit()" class="w3-button w3-round-xxlarge w3-tiny w3-gris-fonce" style="padding:2px 6px;margin-right:8px">
                <i class="fas fa-th-large"></i>
              </button>
            </div>
            
          
        </th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($result->response->docs as $doc): ?>
        <tr>
          <td>
            <?php if($doc->sourceType[0] == 'fondsArchives' || $doc->sourceType[0] == 'fonds'): ?>
              <a href="<?php echo "archives/".$doc->refInventaire[0];?>">
            <?php elseif($doc->sourceType[0] == 'livre' || $doc->sourceType[0] == 'périodique'): ?>
              <a href="<?php if(isset($doc->id)) echo "ouvrage/id/".$doc->id;?>">
            <?php else: ?>
              <a href="<?php echo "archives/".$doc->id;?>">
            <?php endif; ?>
              <?php
                echo $doc->intitule[0];
              ?>


            <?php if(in_array($doc->id, $doc_dispo) || in_array($doc->cote[0], $doc_dispo)): ?><!-- FIXME voir si on ne met pas dans la table des doc_num, id des Cahier rouge dans la colonne cote pour éviter de tester aussi sur la cote la liste des docnum dispo -->
              <span class="w3-right">
                <i class="fas fa-eye"></i>
              </span>
            <?php endif; ?>
            </a>
            <?php if(isset($doc->auteur[0])): ?>
              <br/>
                <a class="w3-text-gris-fonce w3-small" href='<?php echo 'search?q=auteur:"'.$doc->auteur[0].'"'; ?>'>
                  <?php echo $doc->auteur[0]; ?>
                </a>
                <?php if(isset($doc->auteur[1])) echo '<span class="w3-text-gris-fonce w3-small">et al.</span>';?>
              <?php endif; ?>
          </td>
          <td><?php echo $doc->sourceType[0]; ?></td>
          <td><?php echo $doc->humandate[0] ?? '[s.d.]'; ?></td>
          <td><?php echo $doc->fonds[0];?><?php echo " (".$doc->cote[0].")" ?? ''; ?></td>
          <td style="display:none;"><?php echo $doc->standarddate[0] ?? ''; ?></td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
</article>